@font-face {
  font-family: SF Pro Display;
  src: url(/font/SF-Pro-Display-Medium.otf) format("opentype");
}

.jumbotron {
  height: 100vh;
  padding: 5rem;
  padding-top: 10rem;
  background-color: #fff;
}

section {
  padding: 3rem;
}

.navbar {
  transition: all 0.5s;
}

.navbar-scrolled {
  background: #ffc107;
}

.carousel-content {
  position: absolute;
  top: 42%;
  width: 100%;
  color: white;
  font-size: larger;
  text-align: center;
}

.bi {
  color: white;
}

.angka-count {
  margin-bottom: -2rem;
}

.pre-test {
  top: 55px;
  margin-top: -5rem;
}

@media only screen and (max-width: 480px) {
  .jumbotron {
    height: 1000px;
  }

  .carousel-content {
    top: 22%;
  }

  .pre-test {
    position: sticky;
    z-index: 100;
  }
}
