@font-face {
  font-family: SF Pro Display;
  src: url(/font/SF-Pro-Display-Medium.otf) format("opentype");
}

.jumbotron {
  background-size: 100%;
  padding: 19rem;
  background-color: #fff;
}

section {
  padding: 5rem;
  padding-left: 2;
}

.navbar {
  transition: all 0.5s;
}

.navbar-scrolled {
  background: #ffc107;
}

.carousel-content {
  position: absolute;
  bottom: 50%;
  left: 50%;
  color: white;
  font-size: larger;
  text-align: center;
}

.bi {
  color: white;
}
