@font-face {
  font-family: SF Pro Display Light;
  src: url(../font/SF-Pro-Display-Ultralight.otf) format("opentype");

  font-family: SF Pro Display Medium;
  src: url(../font/SF-Pro-Display-Medium.otf) format("opentype");

  font-family: SF Pro Display Bold;
  src: url(../font/SF-Pro-Display-Semibold.otf) format("opentype");
}

.jumbotron {
  height: 100vh;
  padding: 5rem;
}

section {
  padding: 3rem;
}

.navbar {
  transition: all 0.5s;
}

.navbar-scrolled {
  background: #ffc107;
}

.carousel-content {
  position: absolute;
  top: 42%;
  width: 100%;
  color: white;
  font-size: larger;
  text-align: center;
}

.bi {
  color: white;
}

.angka-count {
  margin-bottom: -2rem;
}

.pre-test {
  top: 55px;
  margin-top: -5rem;
}

.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

@media only screen and (max-width: 480px) {
  .jumbotron {
    height: 1000px;
  }

  .carousel-content {
    top: 22%;
  }

  .pre-test {
    position: sticky;
    z-index: 100;
  }
}
